.button
    // position: fixed
    display flex
    flex-direction row
    align-items center
    height: 1.5rem
    // background-color: red
    // width 100%
    .hd
        flex 8
        margin-left 0.2rem
        button 
            width 90%
            color: #868686
    .bd
        flex 1
        font-size: 20px
        color: #000

.class-search
    position fixed
    width 100%
    height 100%
    background: #ffffff
    z-index 10
    padding-top: 0.3rem
    padding-left: 0.3rem
    .search
        height 1rem
        display: flex
        flex-direction: row
        .cancel-button
            margin-left: 0.2rem
            color #000000
            height 1rem
            line-height: 1rem
            font-size: 16px
            margin-left: 0.4rem
            letter-spacing 1px



    