.class-mystudy
    width 100%
    height 100%
    .container 
        padding-bottom: 3rem
        width: 100%
        .slider-container
            height: 160px
            position: relative
            .slider-nav
                display: block
                width: 100%
                height: 100%
            .swiper-pagination-bullet-active
                background-color: #DDDDDD

.mystudy-tab
        height 1.85rem
        display flex
        flex-direction row
        align-items center
        color #868686
        margin 0
        padding 0
        list-style none
        .tab
            padding-left 1.42rem
            text-align center

.tag
    width 100%
    height 1.8rem
    color #333333
    text-align center
    font-size 0.5rem
    font-weight bold
    line-height 1.8rem
    border-top 1px solid #ececec
    .border
        border-bottom 1px solid #d8d8d8


.mystudy_small
    width 100%
    height 7rem
    border-bottom: 6px solid #f2f2f2
    margin-bottom:  0.3rem
    .mystudy-up
        display: flex
        flex-direction row
        align-items: center
        img 
            border-radius: 50%
            height 1.2rem
            width 1.2rem
            margin-left: 0.5rem
        .mystudy-name
            font-size: 15px
            color #868686
            margin-left: 0.2rem
    .mystudy-text
        height 4.9rem
        width 9rem
        margin-left: 0.5rem
        margin-top 0.3rem
        border-radius: 3px
        span
            margin-left: 0.3rem
            line-height: 8.8rem
            font-size: 16px
            color rgb(255,245,247)

.mystudy_text
    width 100%
    height 5rem
    line-height: 5rem
    text-align: center
    font-size: 25px
    color rgb(36,33,28)

