.my-header
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533372034844&di=adf4bef80a7aef1481881e8fb4dffdee&imgtype=jpg&src=http%3A%2F%2Fimg2.imgtn.bdimg.com%2Fit%2Fu%3D1355880457%2C1520660024%26fm%3D214%26gp%3D0.jpg)
    background-size: 10rem 5.23rem
    width 100%
    height 5.23rem
    color #ffffff
    .my-hd
        height 1.87rem
        display: flex
        flex-direction: row
        // justify-content: space-around
        align-items: center
        font-size 24px
        .my-bd
            width: 8.5rem
            margin-left: 0.5rem
    .my-login
        width 100%
        height 3.36rem
        line-height: 2rem
        text-align: center
        color #ffffff

    .my-account
        width 100%
        text-align: center
        img
            height 1.94rem
            width 1.94rem
            border-radius 50%

.my-tab
        height 4.2rem
        display flex
        flex-direction row
        flex-wrap: wrap
        align-items center
        color #808080
        margin 0
        padding 0
        list-style none
        font-size 0.278rem
        .Tab
            width 2.5rem
            padding-left 0.9rem
            padding-right 0.9rem
            text-align center

.my-bar
    height 1.389rem
    display flex
    flex-direction: row
    // justify-content: space-around
    align-items: center
    font-size 0.4rem
    color #4a4a4a
    border-top 1px solid #eeeeee
    .my-text
        width: 8.5rem
        margin-left: 0.5rem

.dynamic
    height 1.722rem
    display flex
    flex-direction: row
    align-items: center
    font-size 0.4rem
    color #4a4a4a
    border-top 0.3rem solid #f2f2f2
    .my-text
        width: 7.5rem
        margin-left: 0.5rem
    button
        font-size: 0.388rem
        border 0px
        background: #77b991
        color #ffffff
        width 1.48rem
        height 0.8rem
        border-radius: 4px
        outline none    

.my-background
    height 5rem
    width 100%
    background: #f2f2f2