  .class-tab
    width 100%
    position fixed
    bottom: 0
    z-index 9
    display: flex
    flex-direction: row
    align-items: center
    height: 1.5rem
    color: #cecece
    border-top 1px solid #ececec
    background #ffffff
    .tab-item
      width 25%
      font-size: 12px
      .nav-link
        text-align: center


.nav-link, .link
  display: block
  color: inherit
  text-decoration: none
  &.active
    color: #77b991