.App
  width: 100%
  height: 100%
  color: #DDDDDD
  .class-tab
    width 100%
    position fixed
    bottom: 0
    z-index 9
    display: flex
    flex-direction: row
    align-items: center
    height: 1.5rem
    color: #cecece
    border-top 1px solid #ececec
    background #ffffff
    .tab-item
      width 25%
      font-size: 12px
      .nav-link
        text-align: center
.class-view
    position: fixed
    left: 0
    top 0
    bottom: 1.5rem
    width: 100%
    height 100%

.nav-link, .link
  display: block
  color: inherit
  text-decoration: none
  &.active
    color: #77b991