.class-play
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #ffffff
  z-index: 100

.videoPlay
  width 100%
  height 6rem
  background green 

.up
  width 100%
  height 2.472rem
  display: flex
  flex-direction row
  align-items: center
  padding-left: 0.5rem
  .hd
    width 1.4rem
    height 1.4rem
    border-radius 5px
  .bd
    padding-left: 0.4rem
    width 6rem
    height 1.5rem
    display flex
    flex-direction column
    .name
      font-size: 15px
      font-weight: bold
      color #4a4a4a
    .instructions
      font-size: 15px
      color #4a4a4a
    .number
      display flex
      flex-direction row
      color #9b9b9b
      font-size: 11px
      .two
        margin-left: 0.3rem
  .ft
    .YES
      border 1px solid #a2a2a2
      background: #ffffff
      color #888888
      width 1.7rem
      height 0.8rem
      border-radius: 4px
      outline none
    .NO
      border 0px solid green
      background: green 
      color #ffffff
      width 1.7rem
      height 0.8rem
      border-radius: 4px
      outline none

.videoIntroduction
  padding-left: 0.3rem
  color #333333
  font-size: 18px
  margin-top 0.2rem
  .hd
    font-size: 30px
    font-weight: bold
    color: #000000
  .bd
    margin:0.2rem 0 0.2rem 0 

